<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

{% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <p style="text-align:center;"><img src="https://raw.githubusercontent.com/CAhelvetiorum/Caleb-Abraham/gh-pages/images/divider.png" width="25%"><br><b>Caleb<br>Abraham</b><br><img src="https://raw.githubusercontent.com/CAhelvetiorum/Caleb-Abraham/gh-pages/images/divider.png" width="25%"></p>
      <table style="width:100%">
        <tr>
           <td>&nbsp;&nbsp;&nbsp;<a href="/">Homepage</a><br>
          </tr>  
        <tr>
            <td>ABOUT</td>
          </tr>
           <tr>
           <td>&nbsp;&nbsp;&nbsp;<a href="/CV">CV</a><br>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/committee">Scientific committee</a><br>
          </tr>
        <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/program">Conference program</a><br>
          </tr>
         <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/book-of-abstracts-2022">Book of abstracts</a><br>
        </tr>
          <tr>
            <td>RESEARCH PROJECTS</td>
          </tr>
           <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/Project 1">Project 1</a><br>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/Project 2">Project 2</a><br>
          </tr>
          <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/Project 3">Project 3</a><br>
          </tr>
         <tr>
            <td>&nbsp;&nbsp;&nbsp;<a href="/Project 4">Project 4</a><br>
          </tr>
         <tr>
          </tr>
        </table>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        <p><small><a href="https://cahelvetiorum.github.io/Caleb-Abraham/">C. Abraham</a> 2024<br>Source code on <a href="https://github.com/CAhelvetiorum/Caleb-Abraham/tree/gh-pages">Github</a><br>DOI: <a href="https://">XXX</a></small></p>
      </footer>
    </div>
  </body>
</html>
